<div class="presentation-content">
  <div class="row">
    <div class="image-container col-12 col-lg-3 col-md-5 offset-md-1 offset-lg-2 vcenter">
      <img src="../../assets/plaveholder.jpeg" alt="image" class="image-placeholder">
    </div>
    <div class="promo-container col-12 col-md-6 offset-lg-1 justify-content-center align-items-center">
      <h1 class="title">Your online library</h1>
      <h3 class="promo">Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him
        full not mean evil. Prepare garrets it expense windows shewing do an.
      </h3>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>