@import '../../../scss/colors';

.presentation-content {
  background-color: $color-background;
  padding: 5em 0;
}

.image-placeholder {
  background: gray;
  height: auto;
  width: 100%;
}

.promo-container {
  padding: 2em 3em;
  @media (max-width: 575px) {
    padding: .5em;
  }
}

.title {
  margin-bottom: 1em;
}

.image-container {
  display: flex;
  align-items: center;
}
