@import '../../scss/colors';

.presentation-content {
  background-color: $color-background;
  padding: 5em 0;
}

.image-placeholder {
  background: gray;
  height: auto;
  width: 100%;
}

.promo-container {
  padding: 1em;
}
